body {
  margin: 0;
  padding-top: 70px;
  background-color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  color:#808080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  color: grey;
}

.navSelected {
  color: red;
  font-weight: bold;
}

.img-portfolio {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-about {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-download {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img-resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.p-resume {
  display: block;
  margin: auto;
}
