body {
  margin: 0;
  padding-top: 70px;
  background-color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  color:#808080;
}

footer {
  background-color:#212529;
  color:#808080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  color: grey;
}

.navSelected {
  color: #800000;
  font-weight: bold;
}

.navlinks:hover {
  color:white;
}

.img-portfolio {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-about {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-download {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img-resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.p-resume {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
}

.item-portfolio {
  background-color: #333333;
  margin: 2px;
}

.card {
  background-color: #808080;
}

.form-contact {
  padding-left: 20%;
  padding-right: 20%;
}

.btn-contact {
  background-color: #212529;
  color: #808080;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 1%;
}

.btn-contact:active{
  background-color:#212529;
  color:#800000;
}

.form-control {
  background-color: #808080;
  border-color: #212529;
}

.links {
  color:#808080;
  text-decoration: none;
}

.links:active {
  color:#800000;
}

.links:hover {
  color:white;
  text-decoration: underline;
}
